body {
    background-color: rgb(157, 162, 177);
}

.neymar {
    background-color: rgb(157, 162, 177);
}

.titulos {
    background-color:  rgb(157, 162, 177);
}

.curio{
    background-color:  rgb(157, 162, 177);
}
